<?xml version="1.0"?>
<launch>
  <param name="/chatter_topic" value="/chatter" />
  <node pkg="rvmaster" type="live_pub" name="live_pub" output="screen">
    <param name="pub_rate_hz" value="0.5" />
  </node>
  <node pkg="rvmaster" type="live_sub" name="live_sub" output="screen">
  </node>
</launch>

