<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find testbot_control)/config/testbot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/testbot" args="joint_state_controller
					  rightWheel_effort_controller
					  leftWheel_effort_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find testbot_description)/urdf/testbot.xacro'" />
    <remap from="/joint_states" to="/testbot/joint_states" />
  </node>

</launch>
